@{
    ViewData["Title"] = "FailReg";
}

<!DOCTYPE html>
<html>
<head>
    <title>FailReg</title>
</head>
<body>
    <h1>FailReg</h1>
    <p>Something went wrong. Please try again later.</p>
</body>
</html>
