@{
    ViewData["Title"] = "Contact";
}

<div class="container mt-5">
    <div class="text-left">
        <h1 class="display-3">Контакти</h1>
        <h2 class="display-5 mt-4">Центр підтримки клієнтів</h2>
        <p class="lead text-white">
            <a href="tel:+380123456789" class="text-white">+380 12 345 67 89</a>
        </p>
        <div class="d-flex text-left">
            <a href="https://t.me/yourtelegram" class="btn btn-outline-light mx-2">Перейти в Telegram</a>
            <a href="mailto:support@example.com" class="btn btn-outline-light mx-2">Написати на пошту</a>
        </div>
    </div>

    <div class="text-left mt-5">
        <h2 class="display-5">Поштова адреса</h2>
        <p class="lead text-white">60111, м. Харків, вул. Шевченка, 1</p>
        <a href="mailto:office@example.com" class="btn btn-outline-light">Написати на пошту</a>
    </div>

    <div class="text-left mt-5">
        <h2 class="display-5">Бізнесу</h2>
        <p class="lead text-white">Для питань щодо співпраці, будь ласка, зв'яжіться з нами по телефону або через електронну пошту.</p>
        <div class="d-flex text-left">
            <a href="tel:+380987654321" class="btn btn-outline-light mx-2">+380 98 765 43 21</a>
            <a href="mailto:business@example.com" class="btn btn-outline-light mx-2">Написати на пошту</a>
        </div>
    </div>
</div>
