@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="content">
    <div class="full-width-container">
        <img src="~/img/office.png" alt="Background Image" class="background-image" />
    </div>
    <div class="header">
        <h2>ПРО НАШУ</h2>
        <h1>КОМПАНІЮ</h1>
    </div>
    <div class="small-text">
        Щодня тисячі українців заїжджають на МКТ. Це – місце, де вони вже не вдома, але ще не на роботі; ще не там, куди збирались, але вже в дорозі. Тому ми подумали, що можемо стати для них не просто заправкою. МКТ може бути місцем для ідей. Де можна перепочити, підкріпитися, зустрітися з партнерами, друзями чи просто спокійно поміркувати за чашкою кави.
    </div>        
</div>
<div class="spacer"></div>
<div class="row">
    <div class="column">
        <div class="row-images">
            <img src="~/img/ph1.jpg" alt="Фото 1">
            <img src="~/img/ph2.jpg" alt="Фото 2">
        </div>
        <div class="row-images">
            <img src="~/img/ph3.jpg" alt="Фото 3">
            <img src="~/img/ph4.jpeg" alt="Фото 4">
        </div>
    </div>
    <div class="column">
        <h2>Лідери на ринку</h2>
        <p>Брендом МКТ, що налічує понад 10 АЗК. У структурі компанії діє також найбільша мережа закладів харчування в дорозі, в тому числі близько 10 ресторанів, які працюють під брендами A la minute, Pasta Mia та Meiwei.</p>
        <p>Також наші підрозділи займаються реалізацією товарів через магазини на АЗК, продажем нафтопродуктів великим та малим гуртом, їх зберігання і транспортування. У мережі МКТ діє 6 нафтобаз і 9 стаціонарних та мобільних лабораторій контролю якості нафтопродуктів.</p>
    </div>
</div>

