@{
    ViewData["Title"] = "Shares";
}


<div class="promo-section">
    <div class="shape"></div>
    <div class="promo-title">
        <h1>ОТРИМУЙТЕ</h1>
        <h2>fishback на МКТ</h2>
    </div>
    <div class="promo-content">
        <div class="promo-image">
            <img src="~/img/Shares.jpg" alt="Promo Image">
        </div>
        <div class="promo-text">
            <p>АКЦІЯ ДІЄ ДО 31.05.2024</p>
            <p>Ще одна причина заїхати на МКТ – отримати Fishback, адже за всі заправки і покупки, які ви робите з карткою Fishka, отримуєте повернення балами.</p>
            <p><strong>ЗА ПАЛЬНЕ:</strong></p>
            <ul>
                <li>бензин/ДП – 1 ГРН/Л БАЛАМИ FISHKA</li>
                <li>ГАЗ – 50 КОП./Л БАЛАМИ FISHKA</li>
            </ul>
            <p><strong>ЗА ПОКУПКИ В МАГАЗИНІ/КАФЕ/РЕСТОРАНІ:</strong></p>
            <ul>
                <li>2% БАЛАМИ FISHKA на товари магазину (крім стартових пакетів і тютюну)</li>
                <li>3% БАЛАМИ FISHKA на товари кафе і ресторану (крім цигарок)</li>
            </ul>
            <p>Списувати бали ви можете на будь-які товари без обмежень (крім цигарок, алкоголю і пакетів поповнення). Головне, не забудьте PIN-код від картки Fishka. Якщо таки забули – не біда, його можна легко змінити. Для цього зайдіть у свій профіль, натиснувши на аватарку у верхньому лівому куті головного екрану, оберіть Налаштування безпеки -> Змінити PIN-код. Або зверніться до касира на АЗК.</p>
            <p>Перед заїздом на АЗК перевірте, чи потрібний вам вид пального є в наявності. Для цього скористайтесь зручним Telegram-ботом МКТfuelbot, ввівши у полі пошуку Telegram: Пошук АЗК МКТ bot.</p>
        </div>
    </div>
</div>
